{%extends 'base.html'%}


{%block title%}Blog | Details{%endblock title%}

{%block content%}


{%if user.is_authenticated%}

 Welcome {{user.username}}
 {%for meo in memo%}
 <h1>{{meo.title}}</h1>
 <p>{{meo.body}}</p>
 <h2>{{meo.authorz}}</h2>
 <p>{{meo.dat}}</p>
 <h1><a href="{% url 'update' meo.pk%}">Edit</a></h1>
 <h1><a href="{% url 'delete' meo.pk%}">Delete</a></h1>
 {%endfor%}
 
 {%else%}
 <a href="{%url 'logout'%}">LOGOUT</a>
 <a href="{%url 'login'%}">LOGIN</a>
{%endif%}




{%endblock content%}